<GridLayout rows="*,auto" >
    <ListView row="0" [items]="messageList" class="list-group">
        <ng-template let-item="item" let-odd="odd" let-even="even">
          <StackLayout>
            <Label [class.my-msg]="item.author == user.uid"
             [text]="item.message" class="list-group-item"></Label>
            
          </StackLayout>
        </ng-template>
    </ListView>
    <GridLayout row="1" columns="*,auto">
        <TextField  col="0" hint="" [(ngModel)]="message" ></TextField>
        <Button col="1" text="Send" (tap)="send()"></Button>
        
    </GridLayout>
</GridLayout>